* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* min-height: 100dvh; */
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.first-nav {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5rem;
    border-bottom: 1px black solid;
}

.image-div {
    display: flex;
    justify-content: center;
    width: 26rem;
}

.image-div a {
    display: block;

}

.image-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* left: 30%; */
    width: 55%;
}

.nav-contact-ul-list {
    padding: 10px 15px;
}

.nav-contact {
    padding-bottom: 0.5em;
}

.nav-contact-ul-list-method {
    display: inline-block;
    padding-left: 0.5rem;
}

.nav-contact button {
    padding: 10px 15px;
    font-family: Gt America Condensed Bold, sans-serif;
    font-size: bold;
    font-weight: 600;
    background-color: white;
    color: black;
    border-radius: 10%;
}

.nav-contact-button:last-child {
    background-color: black;
    color: white;
}

.nav-contact-button:hover {
    background-color: black;
    color: white;
}

.nav-contact-button:last-child:hover {
    background-color: grey;
    color: white;
}

.second-nav {
    display: flex;
    justify-content: center;
}

.second-nav div {
    padding: 1rem;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    cursor: pointer;
    display: block;
}

.dropdown:hover .inside {
    transform: rotate(90deg);
}


.middle-section {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.middle-section-firstbox {
    flex: 1;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
/*  */
.inner-div {
    padding-left: 2.8rem;
    padding-right: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 90%;
}

.inner-div h1 {
    font-size: 2.6rem;
    line-height: 1.4;
}
.inner-div-child{
    max-width: 80%;
    padding-left: 2.1rem;
    padding-bottom: 1.2rem;
}

.middle-section-firstbox-button {
    display: flex;
    gap: 2rem;
}

.inner-div:last-child {
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}

.middle-section-secondbox {
    border: solid red 2px;
    width: 70%;
    flex: 2;

}

.middle-section-firstbox button {
    padding: 10px 15px;

}

.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle-section-firstbox-button {
    display: flex;

}

.middle-section-firstbox-button button {
    border-radius: 8%;
}



.middle-font {
    border-left: 0.2rem solid yellow;
    padding-left: 0.4rem;
    font-weight: 800;
    font-size: xx-large;
    margin-top: 28px;
    /* Doubt regarding margin */
    margin-bottom: 0.4em;
}

.middle-section-2 {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section-2-inside {
    width: 7rem;
    flex-grow: 1;
}

.middle-section-2-inside div {
    padding-left: 1em;
    color: #92959a;
    font-family: Gt America Regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.section3-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 2.8rem;
    gap: 1rem;
}

.section3-insideBox {
    width: 32%;
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    align-self: stretch;
}

.section3-insideBox img {
    width: 25%;
}

.section3-insideBox2 {
    box-sizing: border-box;
    padding-top: 2em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    ;
    background-color: red;
    align-self: stretch;
    flex-grow: 1;
    padding-bottom: 2em;
}

.section3-insideBox2 div {
    padding-top: 1rem;
    margin-top: auto
}

.section3-insideBox2 div button {
    padding: 0.5rem 1.2rem;
    border-radius: 9%;
}

.last-nav-bar {
    padding: 1rem;
}

.section4-box {
    width: 100%;
    padding: 3.8rem 0;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}

.section4-insidebox {
    width: 90%;
    cursor: grab;
}

.section4-insidebox img {
    width: 100%;
    object-fit: contain;
    border-radius: 2%;
}

.section4-insidebox2 {
    width: 90%;
    display: flex;
    gap: 1rem;
}

.section4-insidebox2-innerbox2 {
    flex: 1;
}

.section4-insidebox2-innerbox2 h1 {
    font-size: xx-large;
    color: slategray;
    font-family: 'PT Sans', sans-serif;
}

.section4-insidebox2-innerbox2 h2 {
    padding-top: 2rem;
    font-size: 4.2rem;

    font-family: 'PT Sans', sans-serif;
}

.section4-insidebox2-2 {
    flex: 2;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.section4-insidebox2-innerbox1 {
    flex: 1 0 16rem;
    padding-left: 1.2rem;
    border-left: 1px solid black;
}

.section4-insidebox2-innerbox1 img {
    width: 100%;
    aspect-ratio: 2/1;
}

.section4-insidebox2-innerbox1-box1 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 1rem;
}

.section4-insidebox2-innerbox1-box1 button {
    padding: 0.5rem 1rem;
    border-radius: 8%;
    background-color: transparent;
}

.section4-insidebox2-innerbox1-box1 div button:hover {
    background-color: black;
    color: white;
}

.section5-box {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: black;
    color: white;
}

.section5-insidebox-1 {
    width: 90%;
}

.section5-insidebox-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section5-insidebox-inner h1 {
    color: slategray;
    font-size: large;
}

.section5-insidebox-inner-1 h1 {
    font-size: 3.8REM;
    font-weight: 700;
    color: white;
    letter-spacing: 0.1rem;
    font-family: 'Fjalla One', sans-serif;
}

.section5-insidebox-inner P {
    font-size: x-large;
    font-family: 'PT Sans', sans-serif;
}

.section5-insidebox-inner-1 {
    display: flex;
    flex: 1;
    gap: 4rem;
    justify-content: space-between;
}

.section5-insidebox-2 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section5-insidebox-inner-2 {
    width: 8rem;
    text-align: center;
}

.section5-insidebox-inner-2 img {
    width: 100%;

}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-box {
    padding-top: 2rem;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-box-1 {
    width: max-content;
    flex: 2 ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footerimagediv{
    width: 10rem;
    height: 2rem;
}
.footerimagediv img{
    width: 100%;
    height: 100%;
}
.footer-box-12{
    flex: 1 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: space-between;
}
.footer-box-1 ul li{
    padding: 0.6rem 0.2rem;
    list-style:none ;
}
.footermedialinks{
    padding-bottom: 0.6rem;
}
.footermedialinks p{
    padding-top: 0.6rem;
}
@media (max-width:980px) {
    .section3-box {
        flex-direction: row;
        width: 100%;
        background-color: blue;
    }

    .section3-insideBox {
        width: 48%;
    }

    .middle-section-2 {
        flex-wrap: wrap;
    }

    .middle-section-2-inside {
        width: 48%;
        flex-grow: 1;
    }

    .section4-insidebox2 {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:600px) {
    nav {
        background-color: red;
    }

    .section3-box {
        flex-direction: column;
        width: 100%;

        background-color: blue;
    }

    .section3-insideBox {
        width: 100%;
        box-sizing: border-box;
        background-color: yellow;
    }

    .middle-section {
        display: flex;
        /* box-sizing: border-box; */
        flex-direction: column;
    }

    .middle-section-firstbox {
        order: 2;
        width: 100%;
    }

    .middle-section-secondbox {
        order: 1;
        flex: 1;
        width: 100%;

    }

    .section3-insideBox2 div {
        padding-top: 1rem;
    }

    .middle-section-firstbox {
        padding-left: 1.2em;
        padding-right: 0.2em;
        box-sizing: border-box;
    }

    .nav-contact-button {
        padding: 5px 15px;
    }

    .second-nav {
        box-sizing: border-box;
    }

    .second-nav div {
        padding: 1rem 0.8rem;
        width: min-content;
    }

    .middle-section-2 {
        padding: 2rem;
        flex-wrap: wrap;
    }

    .inner-div {
        gap: 3.8rem;
        padding-left: 1rem;
    }

    .inner-div h1 {
        line-height: 1.1;
    }

    .section4-insidebox {
        width: 90%;
    }

    .section4-insidebox2-innerbox1 {
        flex-wrap: wrap;
    }

    .section5-insidebox-inner-1 {
        display: flex;
        flex-direction: column;

    }
}

/*  Responsive Design */